.form-agenda-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 80vh; /* Limita la altura máxima del contenedor */
  overflow-y: auto; /* Habilita el desplazamiento vertical */
}

.doctor-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.doctor-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.doctor-details h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.doctor-details p {
  margin: 5px 0;
  font-size: 18px;
  color: #666;
}

.appointment-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.appointment-details p {
  margin: 5px 0;
  font-size: 18px;
  color: #333;
}

.calendar-container {
  margin-top: 20px;
  width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  color: #333;
}

.react-calendar {
  width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
  max-width: 100%; /* Asegura que el calendario no se desborde */
  font-size: .8em; /* Reduce el tamaño de la fuente para hacer el calendario más pequeño */
}

.react-calendar__tile {
  height: 1.8em; /* Reduce la altura de cada celda del calendario */
}

/* Media query para pantallas más pequeñas */
@media (max-width: 768px) {
  .form-agenda-container {
    grid-template-columns: 1fr; /* Cambia a una sola columna */
    grid-template-rows: auto auto; /* Asegura que las filas se ajusten automáticamente */
  }

  .doctor-info, .appointment-info {
    width: 100%; /* Asegura que los elementos ocupen todo el ancho disponible */
  }

  .calendar-container {
    margin-top: 20px;
    width: 100%; /* Asegura que el calendario ocupe todo el ancho disponible */
    height: auto; /* Permite que la altura se ajuste automáticamente */
  }
}