/* SpecialtySelect.css */

.specialty-select-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.specialty-select {
  width: 100%;
  height: 100%;
  max-height: 200px;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.specialty-select:hover {
  transform: scale(1.05); /* Efecto de escala al pasar el cursor */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra al pasar el cursor */
}

.specialty-select .react-select__control {
  cursor: pointer;
  border-color: #007bff;
  box-shadow: none;
  border-radius: 20px; /* Bordes redondeados */
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.specialty-select .react-select__control:hover {
  border-color: #0056b3;
  box-shadow: 0 0 5px rgba(0, 91, 179, 0.5); /* Sombra al pasar el cursor */
}

.specialty-select .react-select__menu {
  border-color: #007bff;
 
  animation: fadeIn 0.3s ease-in-out; /* Animación de aparición */
  background-color: white; /* Fondo blanco para las opciones */
}

.specialty-select .react-select__option {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  color: black; /* Color del texto de las opciones */
  background-color: white; /* Fondo blanco para las opciones */
  border-radius: 20px; /* Bordes redondeados */
}

.specialty-select .react-select__option--is-focused {
  background-color: #e9ecef;
  color: #007bff; /* Color del texto al enfocar */
}

.specialty-select .react-select__option--is-selected {
  background-color: #007bff;
  color: white;
  cursor: pointer;
 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}